body{
    background-color: #F0F8FF;
    color: #4C79D5;
}

input{
    border-radius: 5px;
    border: none;
    width: 80%;
    height: 4vh;
    color: #4C79D5;

}

input:focus{
    border-color: #4C79D5;
}

label{
    font-size: 20px;

}

* {
    box-sizing: border-box;
    /* linha abaixo está sendo usada para debuggar o css, favor nao apagar */
    /* outline: 1px solid red !important; */
  }

.navbar{
    margin: 0;
    background-color: #4C79D5;
}

.headerTitle{
    color: #F0F8FF;
}

#btnBuscar{
    background-color: #F0F8FF;
}

#search{
    height: 40px;
}